* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #161616;
  display: flex;
}
.main-text{
  font-family: ubuntu;
}

.gameContainer {
  width: 550px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  margin-top: 8px;
}

.card {
  width: 23%;
  height: 23%;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front,
.back {
  background-color: #381D2A;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.btn{
  position: fixed;
  bottom: 42%;
  right: 8%;
}

.shuffle-btn{
  color: red;
  background-color: #FAFFD8;
padding: 15px 40px;
border-radius: 8px;
box-shadow:1px 1px 1px 1px rgb(51, 50, 50);
transition:smooth;
transition-duration: 1s;
font-family: ubuntu;
font-size: 1.6rem;

}
.shuffle-btn:hover{
  transform: scale(1.01);
  transition:smooth;
  transition-duration: 1s;
}



@media screen and (max-width: 1080px) {


  .gameContainer {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin-top: 150px;
  }

  .main-text{
    font-family: ubuntu;
padding: 5px;
font-size: 3.2rem;
  }

  .btn{
    position: fixed;
    bottom: 53%;
    right: 40%;
  }
  
}
@media screen and (max-width: 720px){


  .gameContainer {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin-top: 150px;
  }

  .main-text{
    font-family: ubuntu;
padding: 5px;
font-size: 3.2rem;
  }

  .btn{
    position: fixed;
    bottom: 53%;
    right: 40%;
  }
  
}